body{
  font-family: Arial;
  font-size: 10px;
  background-color: #0b2a3d;


}
.todo-grid,
.todo-list-input{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap:10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  
} 
.todo-grid{
 display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 270px 200px 110px;
  background-color: #facc15;
}

.todo-list-input{
  margin-bottom: 10px;
  align-items: stretch;
  
  
  
  
  
}
.todo{
  background-color:linear-gradient(180deg,#0f3a52) ;
  padding: 10px 420px;  
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
   background:#0b2a3d;
   box-shadow: 0 25px 50px rgba(0,0,0,0.5);
}

.js-due-date-input{
  /* background:#0b2a3d; */
  padding: 12px 18px;
   border-width: 2px;
   font-size: 20px;
   cursor: pointer;
   
   
   
   
   
}
.js-name-input{
   padding: 12px;
   border-width: 2px;
     font-size: 20px;
    background-color: #facc15;

}
.add{
  color: rgb(109, 101, 101);
  font-weight: bold;
  padding: 12px 35px;
  background-color: #facc15;
  border: none;
  cursor: pointer;
    font-size: 20px;
}
.delet-todo-button{
  color: rgb(80, 79, 79);
  font-weight: bold;
  padding: 12px 25px;
  background-color: 0 25px 50px rgba(0,0,0,0.5);
  border: none;
  cursor: pointer;
    font-size: 20px;
  
}

